section{
  padding:3vw;
  background-color:rgb(245, 243, 243);
  margin-bottom: 3vh;
  margin-left:0.5vw;
  margin-top:3vh;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #666;
  width:99%;
}
figcaption{
  margin-left: 1%;
  margin-top:2%;
}
figure{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}
article{
  text-align: justify;
}
h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
}
ol{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}
figcaption{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  text-align: center;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}
iframe{
  margin-top: 5vh;
}
