<div mat-dialog-content>
  <ng-container *ngIf="!reservado">
    ¿Está seguro de eliminar el socio "{{data.nombree}} {{data.surname}}"?
    <br />
    <br />
    <div class="container-fluid">
      <div class="row">
        <button mat-button (click)="deleteUser(data.codigo)">Sí</button>
        <button mat-button (click)="onNoClick()">No</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="reservado">
    El socio "{{data.nombree}} {{data.surname}}" tiene préstamos en vigor y no puede ser eliminado
    <div class="container-fluid">
      <div class="row">
        <button mat-button (click)="onNoClick()">Volver</button>
      </div>
    </div>
  </ng-container>
</div>
