<section>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Buscar por nombre, apellidos, email o teléfono" type="text" class="forms-control" [(ngModel)]="filterSocio"
      name="filterSocio">
  </mat-form-field>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button id="btnSocio" mat-button routerLink="nuevoSocio">Añadir Nuevo Socio</button>
      </div>
    </div>
  </div>
</section>
<main class="container-fluid">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let socio of socios | filter:filterSocio">
        <td>{{socio.data.nombre}}</td>
        <td>{{socio.data.apellidos}}</td>
        <td>{{socio.data.telefono}}</td>
        <td>{{socio.data.email}}</td>
        <td><button mat-button routerLink="socioDetalle/{{socio.id}}">Ver Detalle</button></td>
        <td><button mat-button routerLink="editSocio/{{socio.id}}">Editar</button></td>
        <td><button mat-button (click)="openDelete(socio.id, socio.data.nombre, socio.data.apellidos)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</main>
