
h2{
  text-align: center;
  font-family: titulo;
  font-size: xx-large;
}
img{
  width:max-content;
}
figure{
  text-align: center;
  margin-top: 5%;
}
main{
  height: 75vh;
}

@media(max-width:768px){
  img{
    width:100%;
  }
}

