<main>
  <figure>
    <img src="../../../assets/error.png" alt="dibujo de un libro sonriendo">
    <h2>AMIGO TE HAS PASADO BUSCANDO COSAS <br> LA PÁGINA A LA QUE INTENTAS ACCEDER <br> NO EXISTE</h2>
  </figure>
</main>
