<h2 mat-dialog-title>Lista de Reservas de {{data.nombreCompleto}}</h2>
<mat-dialog-content class="mat-typography">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Libro</th>
        <th scope="col">Fecha de INICIO del préstamo</th>
        <th scope="col">Fecha de FIN del préstamo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of prestamos">
        <ng-container *ngIf="relacion(data.codigo, prestamo.data.idSocio)">
          <ng-container *ngFor="let libro of libros">
            <td *ngIf="relacion(prestamo.data.idLibro, libro.id)">{{libro.data.titulo}}</td>
          </ng-container>
          <td>{{prestamo.data.fechaInicio.toDate()|date}}</td>
          <td>{{prestamo.data.fechaVencimiento.toDate()|date}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</mat-dialog-content>
