<main class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-12">
      <img
        src="{{ socioSeleccionado.avatar }}"
        alt="Portada del libro {{ socioSeleccionado.nombre }} {{socioSeleccionado.apellidos}}"
      />
    </div>
    <div class="col-md-6 col-12" id="texto">
      <p>Nombre y Apellidos:</p>
      <span>{{ socioSeleccionado.nombre }} {{socioSeleccionado.apellidos}}</span>
      <p>Edad:</p>
      <span>{{ socioSeleccionado.edad}} </span>
      <p>Teléfono:</p>
      <span>{{ socioSeleccionado.telefono }}</span>
      <p>Email:</p>
      <span>{{ socioSeleccionado.email }}</span>
    </div>
  </div>
  <div class="row">
    <div>
      <button mat-button (click)="verReservas()">Ver Reservas</button> <!--Esto hacerlo con otro dialog-->
      <button mat-button routerLink="/socios">Volver</button>
    </div>
  </div>
</main>
