<main>
  <h2>Añadir nuevo libro</h2>
  <form (ngSubmit)="createBook(newBookForm.value)" [formGroup]="newBookForm">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="prestado">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Título..." formControlName="titulo">
    </mat-form-field>
    <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Autor</mat-label>
      <input matInput placeholder="Autor..." formControlName="autor">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>URL Imagen</mat-label>
      <input matInput placeholder="Url Imagen..." formControlName="imagen">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>ISBN</mat-label>
      <input matInput placeholder="ISBN..." formControlName="ISBN">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Género</mat-label>
      <mat-select class="select" formControlName="genero">
        <mat-option *ngFor="let genero of generos" value="{{genero.value}}" >
          {{genero.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción del libro..." formControlName="descripcion"></textarea>
    </mat-form-field>
  </p>
    <input type="submit" [disabled]="!newBookForm.valid" value="Agregar">
    <button mat-button routerLink="/libros">Volver</button>
  </form>
</main>
