<div class="container">

  <div class="card text-center">
    <div class="card-header">
      <b>Login</b>
    </div>
    <div class="card-body">

      <label>Email</label>
      <input class="form-control" type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email">

      <label>Contraseña</label>
      <input class="form-control" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="usuario.password">

      <button class="btn btn-success" (click)="signIn()">Ingresar</button>

      <p>¿Aún no tienes cuenta? <a routerLink="/signUp">Registrarse</a></p>

      <p><a routerLink="/forgotPassword">¿Olvidaste tu contraseña?</a></p>

    </div>
  </div>
</div>
