main{
  text-align: center;
  padding:5%;
  margin-bottom: 18vh;

}
#texto{
  text-align: justify;
  display:flex;
  align-items: right;
  flex-direction: column;
}
img{
  width:229px;
  height:366px;
}
div{
  margin-top:2vh;
  font-family: Calibri;
  font-size: larger;
}
h2{
  font-family: Calibri;
  font-weight: bolder;
  font-size: x-large;
}
p{
  font-weight: bold;
  margin-top: 2vh;
}
button{
  font-size: large;
}
