<main class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-12">
      <h2>{{ libroSeleccionado.titulo }}</h2>
      <img
        src="{{ libroSeleccionado.imagen }}"
        alt="Portada del libro {{ libroSeleccionado.titulo }}"
      />
    </div>
    <div class="col-md-8 col-12" id="texto">
      <p>Autor:</p>
      <span>{{ libroSeleccionado.autor }}</span>
      <p>Género:</p>
      <span>{{ libroSeleccionado.genero }}</span>
      <p>ISBN:</p>
      <span>{{ libroSeleccionado.ISBN }}</span>
      <p>Descripcion:</p>
      <span>{{ libroSeleccionado.descripcion }}</span>
    </div>
  </div>
  <div class="row">
    <div>
      <button mat-button (click)="reservarLibro()" *ngIf="libroSeleccionado.prestado == false">Reservar Libro</button>
      <p *ngIf="libroSeleccionado.prestado == true">Este libro ya está prestado</p>
      <button mat-button routerLink="/libros">Volver</button>
    </div>
  </div>
</main>
