<h1 mat-dialog-title>Reservar libro</h1>
<div mat-dialog-content>
  <form (ngSubmit)="crearReserva(newReserva.value)" [formGroup]="newReserva">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Socio</mat-label>
      <mat-select class="select" formControlName="idSocio">
        <mat-option *ngFor="let socio of socios" value="{{socio.id}}" >
          {{socio.data.nombre}} {{socio.data.apellidos}}</mat-option>
      </mat-select>
    </mat-form-field>
    <input type="submit" [disabled]="!newReserva.valid" value="Crear Préstamo">
  </form>
<button mat-button (click)="onNoClick()">Cancelar Reserva</button>
</div>
