<div class="container">

  <div class="card text-center">
    <div class="card-header">
      <b>Login</b>
    </div>
    <div class="card-body">
      <label>Ingrese su email</label>
      <input class="form-control" type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email" required>

      <button class="btn btn-success" (click)="SendEmail()">Recuperar Contraseña</button>

      <div>
        <p *ngIf="mensaje != null">{{mensaje}}</p>
      </div>
    </div>
  </div>
</div>
