<main>
  <h2>Añadir nuevo socio</h2>
  <form (ngSubmit)="createSocio(newSocioForm.value)" [formGroup]="newSocioForm">
    <input type="hidden" formControlName="id">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre..." formControlName="nombre">
    </mat-form-field>
    <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Apellidos..." formControlName="apellidos">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>URL Imagen</mat-label>
      <input matInput placeholder="Url Imagen..." formControlName="avatar">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Teléfono..." formControlName="telefono">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email..." formControlName="email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Edad..." formControlName="edad">
    </mat-form-field>
  </p>
    <input type="submit" [disabled]="!newSocioForm.valid" value="Agregar">
    <button mat-button routerLink="/socios">Volver</button>
  </form>
</main>
