<div mat-dialog-content>
  ¿Está seguro de devolver este préstamo?
  <br />
  <br />
  <div class="container-fluid">
    <div class="row">
      <button mat-button (click)="deletePrestamo()">Sí</button>
      <button mat-button (click)="onNoClick()">No</button>
    </div>
  </div>
</div>
