<main>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Socio</th>
        <th scope="col">Libro</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Vencimiento</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of prestamos">
        <ng-container *ngFor="let socio of socios">
          <td *ngIf="relacion(socio.id, prestamo.data.idSocio)">{{socio.data.nombre}} {{socio.data.apellidos}}</td>
        </ng-container>
        <ng-container *ngFor="let libro of libros">
          <td *ngIf="relacion(libro.id, prestamo.data.idLibro)">{{libro.data.titulo}}</td>
        </ng-container>
        <td>{{prestamo.data.fechaInicio.toDate()|date}}</td>
        <td [className]="fechaHoy.getTime()>prestamo.data.fechaVencimiento.toDate().getTime() ? 'vencida' : ''">{{prestamo.data.fechaVencimiento.toDate()|date}}</td>
        <td *ngIf="prestamo.data.fechaDevolucion == null"><button mat-button (click)="eliminarPrestamo(prestamo.id)">Devolver préstamo</button></td>
        <td *ngIf="prestamo.data.fechaDevolucion == null"><button mat-button (click)="prorroga(prestamo.id)">Prorrogar préstamo</button></td>
        <td *ngIf="prestamo.data.fechaDevolucion != null">El libro ha sido devuelto</td>
        <td *ngIf="prestamo.data.fechaDevolucion != null">Fecha Devolución: {{prestamo.data.fechaDevolucion.toDate()|date}} </td>
      </tr>
    </tbody>
  </table>
</main>
