header{
  padding:0.5vw;
  background-color: rgb(0, 77, 67);
  color:white;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
}
nav{
  background-color: rgb(15, 67, 58);
  color:white;
  padding:0.2vw;
}
ul{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin-left: 18.5%;
  margin-right: 18.5%;
}
li{
  font-size: 1.7vmax;
  font-family: menu;
}
h1,h2{
  font-family: titulo;
  color:rgb(240, 205, 6);
  font-size: 3vmax;
  padding:0.3vw;
}
li:hover{
  color:rgb(240, 205, 6);
  cursor:pointer;
}
