<div mat-dialog-content>
  <ng-container *ngIf="!reservado">
    ¿Está seguro de eliminar el libro "{{data.title}}"?
    <br />
    <br />
    <div class="container-fluid">
      <div class="row">
        <button mat-button (click)="deleteLibro(data.codigo)">Sí</button>
        <button mat-button (click)="onNoClick()">No</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="reservado">
    El libro "{{data.title}}" tiene actualmente un préstamo vigente y no se puede eliminar
    <div class="container-fluid">
      <div class="row">
        <button mat-button (click)="onNoClick()">Volver</button>
        </div>
    </div>
  </ng-container>
</div>
