
main{
  text-align: center;
  margin-bottom: 3vh;
}
article{
  margin-top: 5vh;
}
img{
  height:300px;
  width:192px;
  cursor:pointer;
}
article h2{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.botonera{
  margin-top: 2vh;
}
.example-full-width {
  width: 100%;
  font-size: larger;
}
#botonCrear{
  border:2px solid rgb(0, 77, 67);
  font-size: large;
}
@media(max-width:1000px){
  main{
    justify-content: center;
  }
}
img:hover{
  opacity: 0.4;
}
