<section>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Buscar por título, autor, género o ISBN" type="text" class="forms-control" [(ngModel)]="filterBook"
      name="filterBook">
  </mat-form-field>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button id="botonCrear" mat-button routerLink="nuevoLibro">Añadir Nuevo Libro</button>
      </div>
    </div>
  </div>
</section>
<main class="container-fluid">
  <div class="row">
    <article class="col-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let libro of libros | filter:filterBook">
      <h2 class="title font-size-sm">{{libro.data.titulo}}</h2>
      <h3>{{libro.data.autor}}</h3>
      <img [src]="libro.data.imagen" alt="Portada del libro {{libro.data.titulo}}" routerLink="libroDetalle/{{libro.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles">
      <div class="botonera">
        <button mat-button routerLink="editLibro/{{libro.id}}">Editar</button>
        <button mat-button (click)="openDelete(libro.id, libro.data.titulo)">Eliminar</button>
      </div>
    </article>
  </div>
</main>
