footer {
  clear:both;
  width: 100%;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(0, 77, 67);
  color:white;
  padding-top:1.5vh;
  padding-bottom: 3.5vh;
}
div{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
div p{
  margin-right:1em;
}
div svg{
  margin-right:0.5em;
  cursor:pointer
}
footer{
  font-family: footer;
}
