<div class="container">

  <div class="card text-center">
    <div class="card-header">
      <b>Registro</b>
    </div>
    <div class="card-body">

      <label>Email</label>
      <input class="form-control" type="email" placeholder="Ingrese su email" [(ngModel)]="usuario.email">

      <label>Contraseña</label>
      <input class="form-control" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="usuario.password">

      <button class="btn btn-success" (click)="register()">Registrarse</button>
    </div>
  </div>
</div>
