<main>
  <h2>Editar socio</h2>
  <form (ngSubmit)="editSocio()" [formGroup]="editForm">
    <input type="hidden" formControlName="id">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre..." formControlName="nombre">
    </mat-form-field>
    <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Apellidos..." formControlName="apellidos">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>URL Imagen</mat-label>
      <input matInput placeholder="Url Imagen..." formControlName="avatar">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email..." formControlName="email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Teléfono..." formControlName="telefono">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="field">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Edad..." formControlName="edad">
    </mat-form-field>
  </p>
    <input mat-button type="submit" [disabled]="!editForm.valid" value="Guardar Cambios">
    <button mat-button routerLink="/socios" >Volver</button>
  </form>
</main>
