/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family:"titulo";
  src:url("assets/titulo.otf");
}
@font-face {
  font-family: menu;
  src: url("assets/PinkChicken-Regular.ttf");
}
@font-face {
  font-family: "texto";
  src: url("assets/JandaManateeSolid.ttf");
}
@font-face {
  font-family: footer;
  src: url("assets/BaksoSapi.otf");
}
@font-face {
  font-family: textos;
  src: url("assets/textos.TTF");
}
main{
  min-height: 90vh;
}

