<div class="container">
    <div class="authBlock">
      <h3>Gracias por tu registro</h3>

      <div>
        <p class="text-center">Hemos enviado un email de verificación a su correo electrónico</p>
        <p class="text-center">Por favor, ingrese en su email y pinche en su enlace para poder iniciar sesión</p>
        <p class="text-center">Vuelva al login para Iniciar Sesión <a routerLink="/login">Iniciar Sesión</a></p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="resend()">
          <i class="fas fa-redo-alt"></i>
          Reenviar Email de verificación
        </button>
      </div>

    </div>
</div>

